body {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    height: 72px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 32px;
}

.header-links {
    padding: 16px;
    margin: 32px;
    display: flex;
    gap: 32px;
}

.hero {
    background-color: #1F2937;
    font-size: 48px;
    color: #f9faf8;
    display: flex;
}

.information {
    background-color: white;
    display: flex;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
}

.call-to-action {
    background-color: white;
    display: flex;
}

.footer {
    height: 72px;
    color: #E5E7EB;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #f9faf8
}